@model Product[]

@{
    Layout = "_Layout";
}

<h2>Товары в киоске</h2>

<form method="post">
    <Table>
        <tr>
            <th> Name </th>
            <th> Price </th>
            <th> Count </th>
            <th> Type </th>
            <th> Producer </th>
            <th> Author </th>
        </tr>
        @{
            foreach (var selectedProduct in Model)
            {
                <div class="product">
                    <tr>
                        <td>
                            <input name="Name" type="text" value="@selectedProduct.Name">
                        </td>
                        <td>
                            <input name="Price" type="number" value="@selectedProduct.Price">
                        </td>
                        <td>
                            <input name="Count" type="number" value="@selectedProduct.Count">
                        </td>
                        <td>
                            <input name="Type" type="text" value="@selectedProduct.Type">
                        </td>
                        <td>
                            <input name="Producer" type="text" value="@selectedProduct.Producer">
                        </td>
                        <td>
                            <input name="Author" type="text" value="@selectedProduct.Author">
                        </td>
                    </tr>
                </div>
            }
        }
    </Table>

    <input type="submit" value="Сохранить"/>
</form>