@model Product[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h2>Товары в киоске</h2>

<Table cellspacing="10" border="1">
    <tr>
        <th> Название </th>
        <th> Цена </th>
        <th> Количество </th>
        <th> Тип </th>
        <th> Производитель </th>
        <th> Автор </th>
    </tr>
    @{
        foreach (var selectedProduct in Model)
        {
            <tr>
                <td>
                    <div name="Name" type="text" value="">@selectedProduct.Name</div>
                </td>
                <td>
                    <div name="Price" type="number">@selectedProduct.Price</div>
                </td>
                <td>
                    <div name="Count" type="number">@selectedProduct.Count</div>
                </td>
                <td>
                    <div name="Type" type="text">@selectedProduct.Type</div>
                </td>
                <td>
                    <div name="Producer" type="text">@selectedProduct.Producer</div>
                </td>
                <td>
                    <div name="Author" type="text">@selectedProduct.Author</div>
                </td>
                <td>
                    <button>
                        <a asp-controller="Catalog" asp-action="EditProduct"
                           asp-route-id=@selectedProduct.Id>
                            Изменить
                        </a>
                    </button>
                </td>
                <td>
                    <button>
                        <a asp-controller="Catalog" asp-action="DeleteProduct" asp-route-product=@selectedProduct>Удалить</a>
                    </button>
                </td>
            </tr>
        }
    }
</Table>

<button>
    <a asp-controller="Catalog" asp-action="AddProduct">
        Добавить
    </a>
</button>